/* The first command sets defaults for everthing withing the 'body' tags - i.e.
   everything on the page!  These aren't set in stone, but match the current
   style on the Astro web pages made with the Mozilla editor. */
body	{color: rgb(100, 100, 100); /* The default font color is dark gray */
	 background: white; /* The default background is white and there
                                    is no background image */
	 font-family: 'arial',sans-serif;  /* The default font is
                                                      Times New Roman.  If this
                                                      isn't present, the 
                                                      browser will look for any
                                                      Times font and then any
                                                      serif font */
	 text-align:justify} /* The default text-alignment is left */
/* Defaults for the header elements */
h1      {font-size: 2em; /* Twice the standard font-size of the browser */
	 margin-top: 2em; /* Spacings at the top */
         margin-bottom: 2em; /* And at the bottom */
         text-align: center; /* Center the header */
         color: rgb(63, 150, 141);
         font-weight: bold} /* Use a bold font */
h2      {font-size: 1.4em; /* h2 is 40% larger than the standard font */
         font-weight: bold;
         color: rgb(63, 150, 141);
         margin-bottom: 0.8em}
h3      {font-size: 1.1em; /* h3 is 10% larger than the standard font */
         font-weight: bold; 
         margin-bottom: 0.5em}
h4	{font-weight: bold;    /* h4 is bold */
	 margin-bottom: 0em}
/* Defaults for the link elements */
a:link	{color: rgb(0, 115, 103); /* Links will always be dark blue */
	 text-decoration: none; /* and underlined and will take the */
	 background: inherit}        /* background color from the rest of */
a:visited{color: rgb(0, 115, 103); /* the page */
	 text-decoration: none;
	 background: inherit}
a:hover{color: rgb(0, 115, 103);
         text-decoration: underline;
         background: inherit}
a:active{color: rgb(0, 115, 103);
         text-decoration: none;
         background: inherit}

td	{vertical-align: top; /* Table 'td' elements will align their */
	 padding: 0.25em 0.25em 0.125em 0.125em} /* contents with the center */
			/* of the row by default and have 0.5 em of padding */

th	{vertical-align: center; /* Table 'th' elements as 'td' but bold */
	 padding: 0.25em 0.25em 0.125em 0.125em;
	 font-weight: bold}

hr	{color: rgb(128, 128, 128);
         background-color: rgb(200, 200, 200);
         border: 0;
         width: 100%; /* The horizontal rule element streches the full width */
	 height: 1px} /* of the page and has a height of 2 pixels */

div.ex1 {
     max-width: 1200px;
     margin: auto;
     border: 0px solid #73AD21;
     text-align: justify;
     text-justify: inter-word;
}

div.ex2 {
     max-width: 900px;
     margin: auto;
     text-align: justify;
     text-justify: inter-word;
     border: 0px solid #73AD21;
}

div.ex3 {
     max-width: 1500px;
     margin: 100px;
     text-align: justify;
     text-justify: inter-word;
}

div.ex4 {
     max-width: 1350px;
     margin: 50px;
     text-align: justify;
     text-justify: inter-word;
}


div.ex5 {
     max-width: 2000px;
     margin: 50px;
     text-align: justify;
     text-justify: inter-word;
}



.bullet {border: 0px solid; /* The bullet class is used to set up the 'img' */
         width: 2ex;       /* element for the fancy bullets from the Astro */
	 height: 2ex;      /* pages. */
	 vertical-align: middle}

.footer	{margin-top: 4em} /* Four lines of vertical space above the footer */

.indent {margin-left: 2em} /* Element with indented left margin */

.indbull {margin-left: 3.1em; 
          margin-top: -1em} /* Element with indented left margin, could be used under bulleted items */

.bigindent {margin-left: 13em} /* Elememnt with big left margin */

.comptype {font-family: 'courier new',courier,monospace; /*computer terminal*/
	font-weight: bold}	/*font for paragraphs, etc.  using */
				/* <p class="comptype> ... </p> */

samp {font-family: 'courier new',courier,monospace; /*computer terminal */
	font-weight: bold} /*font (again) for use inside paragraphs using */
				/* <samp> ... </samp> */

.contents {margin-left: auto;	/* defines the table layout for 'contents': */
	margin-right: auto;      /* equal margin on each side (e.g. centred) */
	padding: 2.5em 2.5em 2.5em 2.5em; /* Padding of 2.5 em on all sides */
	border-width: medium;   /* a solid blue (same as link colour) border */
	border-color: #000099;  /* of 'medium' width */
	border-style: solid;
	text-align: left}     /* text centred within the boxes */

.narrow {margin-left: 2em;	/* Indented on both sides */
	 margin-right: 2em}

.memos {width: 90%;
	margin-left: 2em}

.date  {width: 15%}
.title {width: 60%}
.author{width: 25%}

.centre {text-align: center}
.centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:20px;
    font-size: 0.9em; 
    }

.centeredframedImage
    {
    text-align:center;
    background-color: rgb(225, 215, 205);
    margin-top:0px;
    margin-bottom:0px;
    padding:20px;
    font-size: 0.9em; 
    }


