:root {
    --primary-color: #000000;
    --secondary-color: #21262d;
    --highlight-color: #58a6ff;
    --text-color: #ffffff;
    --table-hover-1: #393d3d;
    --table-hover-2: #21262d9d;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    font-family: var(--bs-body-font-family) !important;
    height: 100vh;
}

body {
    background-color: var(--primary-color) !important;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0 !important;
    color: var(--text-color) !important;
}

.text {
    color: var(--text-color) !important;
}

.toast {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    top: 20px; 
    z-index: 5;
    width: fit-content !important;
    text-align: center;
}

.toast-body {
    background-color:rgba(0, 165, 41, 0.731) !important;
    color: var(--text-color) !important;
}

.container-shadow {
    -moz-box-shadow:    0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.main-header {
    background-color: var(--secondary-color);
    align-items: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    --bs-gutter-x: 0rem !important; /* Fix right margin */
} 

.title {
    color: var(--text-color) !important;
    font-family: var(--bs-body-font-family) !important;
}

.max-planck-logo > img {
    margin: auto;
    width: 150px;
    height: auto;
    filter: invert(62%) sepia(84%) saturate(23%) hue-rotate(188deg) brightness(90%) contrast(102%)
}

.line-break-down {
    position: relative;
    padding: 1px;
    margin-top: -1px;
    margin-bottom: 20px;
    background-color: var(--highlight-color);
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    border-radius: 10px;
    border: 1px;
    z-index: 2;
    width: 60%;
}

.line-break-up {
    position: relative;
    padding: 1px;
    margin-bottom: -1px;
    background-color: var(--highlight-color);
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    border-radius: 10px;
    border: 1px;
    z-index: 2;
    width: 60%;
}

.ftco-navbar-light .navbar-nav >.nav-item >.nav-link:before {
    background: var(--highlight-color);
}

.dropdown-menu {
    border:rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color) !important;
}

.dropdown-item {
    color:var(--text-color) !important;
}

.dropdown-item:hover {
    background: var(--highlight-color) !important;
    color:var(--text-color) !important;
}

.dropdown-item:visited  {
    background: var(--secondary-color) !important;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.nav-link {
    color: var(--text-color) !important;
    font-size: 15px !important;
}
  
a:hover {
    color: var(--highlight-color) !important;
}

.carousel-container {
    background-color: var(--secondary-color);
    width: 100%;
}

.carousel {
    margin: auto;
    width: 93%;
}

.carousel-item > img {
    width: 100%;
    height: 70% !important;
}

/* Section divider */
.page-section {
    margin-top: 3%;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-left: calc(3.5% + 5px);
    background-color:var(--secondary-color);
    box-shadow: -5px 0 0 0px var(--highlight-color);
}

.page-section-lg {
    margin-top: 3%;
    width: 150px;
    height: fit-content;
    padding: 15px;
    margin-left: calc(3.5% + 5px);
    background-color:var(--secondary-color);
    box-shadow: -5px 0 0 0px var(--highlight-color);
}

.page-section h4 {
    color: var(--text-color);
    position: relative;
    top: 50%;
}

.text-section {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 93%;
}

.text-section p {
    color: var(--text-color);
}

/* Table */
table {
    font-size: 15px;
    table-layout: auto;
}

.table {
    border-color: #383d3f !important;
}

table.dataTable thead th,
table.dataTable thead td {
    border-color: rgb(134, 125, 110) !important;
}

.dataTables_info {
    color: var(--text-color) !important;
}

.dataTables_filter {
    color: var(--text-color) !important;
}

.dataTables_filter input {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.table-bordered th, .table-bordered td {
    border-color: rgb(56, 61, 63);
    border-top-color: rgb(56, 61, 63);
    border-right-color: rgb(56, 61, 63);
    border-bottom-color: rgb(56, 61, 63);
    border-left-color: rgb(56, 61, 63);
}

.table > thead > tr > th {
    color: var(--text-color);
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: all 0.2s linear;
}

.table-striped > tbody > tr:nth-child(odd) > td:hover, 
.table-striped > tbody > tr:nth-child(odd) > th:hover {
    color: var(--text-color);
    background-color: var(--table-hover-1);
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: all 0.2s linear;
}

.table-striped > tbody > tr:nth-child(even) > td:hover, 
.table-striped > tbody > tr:nth-child(even) > th:hover {
    color: var(--text-color);
    background-color: var(--table-hover-2);
}

.table-striped > tbody > tr > td > div, 
.table-striped > tbody > tr > th > div {
    display: inline-block;
}

.table-striped > tbody > tr > td > span, 
.table-striped > tbody > tr > th > span {
    display: inline-block;
}

#to-top-button {
    display: none;
    position: fixed;
    background-color: var(--highlight-color);
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    z-index: 3;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
}

#to-top-button:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

.name {
    color: var(--highlight-color) !important;
}

.work {
    font-weight: bold;
    color: var(--text-color);
    font-size: 15px;
}

.about {
    color: var(--text-color);
}

.about span {
    font-size: 13px;
}

.card {
   background-color: #2b2d2d !important;
   margin-right: 25px;
   border-radius: 50px !important;

}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: -20% 0;
}

.v-profile {
    color: var(--highlight-color);
    cursor: pointer;
}

.box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
}

.col-md-3 {
    display: flex;
    position: relative;
    margin-top: 10px;
}

.footer {
    background-color: var(--secondary-color);
    width: 100%;
    --bs-gutter-x: 0rem !important; /* Fix right margin */
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
    margin-bottom: 1rem ! important;
}

.nav{
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    justify-content: center !important;
    border-bottom: 1px solid var(--highlight-color) !important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #ece8e1 !important;
    text-align: center;
}

.scroll-bar::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}

.scroll-bar::-webkit-scrollbar {
    width: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}

.plot-container {
    padding: 10px;
    background-color: var(--primnary-color);
    border: solid 1px rgba(211, 211, 211, 0.318);
}

.plot-control-panel {
    background-color: var(--primary-color);
}

#plot {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

.axis-white line {
    stroke: var(--text-color);
    stroke-width: 3px;
  }
  
.axis-white path {
    stroke: var(--text-color);
    stroke-width: 3px;
}
  
.axis-white text {
    fill: var(--text-color);
    font-size: 15px;
}

.grid line {
    stroke: rgba(211, 211, 211, 0.318);
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
.grid path {
    stroke-width: 0;
}

.plot-control-panel {
    padding-bottom: 30px;
}

.sources-title {
    padding: 10px;
}

.sources-control {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: solid 1px rgba(211, 211, 211, 0.318);
    margin: auto;
}

.sources-control:hover {
    background-color: var(--table-hover-1);
    border-color: var(--highlight-color);
    transition: all 0.s linear;
}

.horizontal-controls-title {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.vertical-controls-title {
    width: 100%;
    margin: auto;
    padding: 10px;
}

#x-plot-control-anchor {
    padding: 10px;
    border: solid 1px rgba(211, 211, 211, 0.318);
}

#x-plot-control-anchor:hover {
    background-color: var(--table-hover-1);
    border-color: var(--highlight-color);
    transition: all 0.4s linear;
}

#y-plot-control-anchor {
    padding: 10px;
    border: solid 1px rgba(211, 211, 211, 0.318);
}

#y-plot-control-anchor:hover {
    background-color: var(--table-hover-1);
    border-color: var(--highlight-color);
    transition: all 0.4s linear;
}

.form-check-input:checked {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}